
.nav
{
	background-color: #ff727285;
	align-items: center
}
.nav li a 
{
	text-decoration: none;
	color: red;
	
}

.profile
{
	background-color: #F24D4D;
	text-align: center
}
.profile .prof-avatar img 
{
	border-radius: 30%
}
.profile .prof-info
{
	text-align: center;
	color: #FFF;
	font-family: 'Changa', sans-serif;
}
.profile .prof-info h2 
{
	font-size: 35px;
    font-weight: bold;
    padding: 10px;
}
.profile .prof-info h3
{
	font-size: 20px;
    font-weight: bold;
}
.profile .prof-info h4
{
	font-size: 16px;
}
.profile .prof-setting
{
	color:#FFF ;
}
.profile .prof-setting i 
{
	cursor: pointer;
}

.card img 
{
	width: 60px;
	border-radius: 50%;
}
.card .card-title
{
	cursor: pointer
}
.card h5 
{
	color: red
}
.card 
{
	background-color: #FEE8F9;
	border:1px solid #FFF
}