* {padding: 0; margin: 0; box-sizing: border-box; }
.container-fluid {padding: 0; margin: 0;}

body
{
    overflow: hidden;
}

/*start of loading screen*/
#loading
{
  position: fixed;
  top :0 ;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  z-index: 999999999999999;
}
/*end of loading screen*/


/*start of loading logo*/
#monitor {
  padding: 0;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  top: 40%;
}
#ecg {
	max-width: 470px;
	margin-left: 20px;
  margin-right: 20px;
	position: relative;
  transition: all 0.5s ease-in-out;
}
#ecg  .ekg {
	fill: none;
	stroke: red;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: miter;
	opacity: 0;
	stroke-dashoffset: 1000;
	stroke-dasharray: 1000;
	animation: ekg 1.5s linear forwards infinite;
}
@keyframes ekg {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    50% {
      stroke-dashoffset: 2000;
    }
    99% {
      opacity: 0;
      stroke-dashoffset: 3000;
    }
    100% {
      stroke-dashoffset: 1000;
    }
}
/*end of loading logo*/



/*start of navbar*/
.navbar-brand
{
    position: relative;
}
#wrapper 
{
    position: absolute;
    animation: pulse 1s infinite;
    top: 32%;
    right: 137%;
}


#pulsingheart 
{ 
  position: relative; 
  width: 10px; 
  height: 20px;
} 

#pulsingheart:before, #pulsingheart:after
{ 
  position: absolute; 
  content: ""; 
  left: 12px; 
  top: 0; 
  width: 12px; 
  height: 19px; 
  background: #aa0000; 
  border-radius: 50px 50px 0 0; 
  transform: rotate(-45deg);  
  transform-origin: 0 100%;
  animation:pulsecolor 1s infinite;
} 

#pulsingheart:after 
{ 
  left: 0; 
  transform: rotate(45deg); 
  transform-origin :100% 100%;
  animation:pulsecolor 1s infinite;
}

@keyframes pulse 
{
    10% {transform: scale(1.1)}
  20% {transform: scale(1)}
  50% {transform: scale(1.1)}
  100% {transform: scale(1.1)}
}

@keyframes pulsecolor 
{
  10% {background: #dd0000}
}
/*end of navbar*/


.header-data
{
    margin: 10% 0 0 0;
}
.header-background img
{
    width: 90%;
}
.header-content > p
{
    font-size: 30px;
}
.header-btns
{
    margin-top: 5%;
}

.header-btns > button
{
    font-size: 20px;
    margin: 0 10px;
}
.dark-mode img
{
    width: 30%;
    cursor: pointer;
}


/*patients section 1*/

.patients
{
  padding: 5% 0 ;
}


.patient-img
{
  width: 30%;
  border: solid 1px #aa0000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
  padding: 5px;
  margin: 40px auto;
}
.patient-img::before
{
  content: "";
  position: absolute;
  border-top: solid 1px black;
  border-width: 1px;
  left: -130px;
  right: 120px;
  top: 50%;
  margin: auto;
  transition-duration: 1s;
}
.patient-card:hover .patient-img::before
{

  left: -130px;
  right: 260px;
}
.patient-img::after
{
  content: "";
  position: absolute;
  border-top: solid 1px black;
  border-width: 1px;
  right: -130px;
  left: 120px;
  top: 50%;
  margin: auto;
  transition-duration: 1s;
}
.patient-card:hover .patient-img::after
{

  right: -130px;
  left: 260px;
}
.patient-img img
{
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.patient-card
{
  padding: 8px;
  position: relative;
  transition-duration: 0.8s;
  overflow: hidden;
}
.patient-card:hover
{
  background-color: rgba(0,0,0,0.5);
}
.patient-overlay
{
  position: absolute;
  top:105%;
  left: 0;
  right: 10%;
  width: 80%;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  padding: 25px 5px;
  transition-duration: 0.9s;
  transition-delay: 0.1s;
  transition-property: all;
  opacity: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transform:scale(0,0);
  -webkit-transform:scale(0,0);
  -moz-transform:scale(0,0);
  -ms-transform:scale(0,0);
  -o-transform:scale(0,0);
}
.patient-overlay >div > button
{
  padding: 10px 15px;
  color: #fff;
}
.patient-card:hover .patient-overlay
{
  top:70%;
  opacity: 1;
  transform:scale(1.01,1.01);
  -webkit-transform:scale(1.01,1.01);
  -moz-transform:scale(1.01,1.01);
  -ms-transform:scale(1.01,1.01);
  -o-transform:scale(1.01,1.01);
}
.patient-data
{
  padding: 10px 5px;
}
.patient-data >p >i
{
  color: red;
  font-size: 20px;
  margin: 0 0 0 10px;
}
